<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new book</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
  <label for="bookName">Введите название книги: </label>
  <input type="text" th:field="*{bookName}" id="bookName"/>
  <div style="color:red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Name Error</div>
  <br/>
  <label for="year">Введите год выхода книги: </label>
  <input type="text" th:field="*{year}" id="year"/>
  <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Age Error</div>
  <br/>
  <label for="author">Введите автора: </label>
  <input type="text" th:field="*{author}" id="author"/>
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Email Error</div>
  <br/>
  <input type="submit" value="Создать!"/>
</form>
</body>
</html>