<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getAge()}">VALUE</p>
<div th:if="${emptyList}">
    <span>Человек пока не взял ни одной книги</span>
</div>
<div th:if="${books}">
    <span>Книги:</span>
    <div th:each="book: ${books}">
        <p th:style="${book.isExpiration()}?'color:red' : 'color:black'" th:text="${book.getBookName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">Search Result</p>
    </div>
</div>
<hr>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать">
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>